// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.sssss{
    margin: 10px auto;
    width: 50%;
    border: solid  #00ACEE;
    border-radius: 10px;
    text-align: center;
    background-color: #00ACEE;
    margin-top: 230px;
}

.login{
    margin: 10px auto;
    width: 52%;
    border: solid  #00ACEE;
    border-radius: 10px;
    text-align: center;
    background-color: #00ACEE;
    margin-top: 190px;
}